.pagewraper {
  padding: 40px 80px;
}
.custom-container {
  overflow: auto;
  max-height: 100vh;
}

.custom-container::-webkit-scrollbar {
  display: none;
}
.custom-col-8::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.custom-col-8 {
  padding-right: 15px;
  overflow-y: scroll;
}

.custom-col-4 {
  position: sticky;
  top: 0;
  height: 100vh;
}

.custom-image {
  height: 220px;
  width: 150px;
  margin-bottom: 10px;
}
